@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

/* index.css */

/* General Styles */
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  background: #da8a5f;
}



.container {
  width: 65%;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h4 {
  font-weight: 800;
  color: #0033E7;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* File Input Styles */
.file-input-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.file-input-container h4 {
  margin-bottom: 5px;
}

input[type="file"] {
  border: 1px solid #CCCCCC;
  padding: 5px;
  font-size: 1em;
}

/* Form Styles */
form {
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.collapsible {
  background-color: #1c1919;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.collapsible:hover {
  background-color: #574949;
  color: #f1f6f5;
}

.collapsible::after {
  content: "\25BA"; /* Right-pointing arrow */
  font-size: 13px;
  transition: transform 0.3s;
}

.collapsible.active::after {
  transform: rotate(90deg); /* Rotate to point downwards */
}


.MSSF-section
 {
  margin: 20px 0;
  padding: 15px;
  background-color: #EFEFEF;
  border: 2px solid #989898;
  border-radius: 5px;
}




.MSSFinputGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  background-color: #EFEFEF;
}



input{
  color: #3f3f3f;
}

select,
input[type="number"] {
  
  padding: 5px;
  font-size: 1em;
  margin-left: 10px;
}

input[type="file"] {
  margin: auto;
  padding: 5px;
  font-size: 1em;
  margin-left: 10px;
}

button {
  padding: 10px 20px;
  background-color: #02081b;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0;
}

button:hover {
  background-color: #333333;
}

/* Hidden Class */
.hidden {
  display: none;

}


#MSSFinputsContainer {
  margin-top: 20px;
}

label {
  color: #1F1A17;
}

select {
  color: #1F1A17;
}

